{{ partial "general-title" . }}
{{ partial "header" . }}
{{ partial "navbar" . }}

<div id="main">
        <article class="post">
            {{ $.Scratch.Set "h1" true }}
            {{ .Render "header" }}
            {{ .Render "featured" }}
            <div id="content">
                {{ .Content }}
                {{ if isset .Params "playurl" }}
                    <br>
                    <a href='{{ .Params.playurl }}'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' width="25%"/></a>
                {{end}}
            </div>
        </article>
        <footer>
        {{ .Render "footer-category" }}
    </footer>
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}

{{ if ne .Site.DisqusShortname "" }}
    {{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}
        <article class="post">
            {{ template "_internal/disqus.html" . }}
        </article>
    {{ end }}
{{ end }}