{{ partial "general-title" . }}
{{ partial "header" . }}
{{ partial "navbar" . }}

<div id="main">
        <article class="project">
            {{ $.Scratch.Set "h1" true }}
            {{ .Render "header" }}
            {{ .Render "featured" }}
            <div id="content">
                {{ .Content }}
            </div>
        </article>
        <footer>
        {{ .Render "footer-category" }}
    </footer>
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}


{{ if ne .Site.DisqusShortname "" }}
    {{ if not (in (printf "%#v" .Site.BaseURL) "localhost") }}
        <article class="post">
            {{ template "_internal/disqus.html" . }}
        </article>
    {{ end }}
{{ end }}