#header {
    background: #FF512F; /* fallback for old browsers */
background: -webkit-linear-gradient(right, #FF512F, #DD2476);
background: -o-linear-gradient(right, #FF512F, #DD2476);
background: linear-gradient(to left, #FF512F, #DD2476); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
}